In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('productResult.xlsx')
df

,Customer_ID,result_rank,provider_Nm,product_name,dummy_quote_value,Sale_made,Sale_source
0,37,1,Provider A,Product 64,377.089,0,NaN
1,37,2,Provider A,Product 3160,60.4049,0,NaN
2,37,3,Provider A,Product 56,309.119,0,NaN
3,37,4,Provider A,Product 552,224.304,0,NaN
4,37,5,Provider A,Product 3292,79.1503,0,NaN
5,37,6,Provider A,Product 76,401.601,0,NaN
6,37,7,Provider B,Product 1412,263.217,0,NaN
7,37,8,Provider A,Product 84,525.587,0,NaN
8,37,9,Provider B,Product 3164,556.828,0,NaN
9,57,1,Provider A,Product 56,229.212,0,NaN
10,57,2,Provider A,Product 552,63.3663,1,online
11,57,3,Provider A,Product 84,651.466,0,NaN
12,57,4,Provider B,Product 3532,782.26,1,online
13,57,5,Provider B,Product 1412,653.106,0,NaN
14,57,6,Provider B,Product 3164,698.661,0,NaN
15,57,7,Provider B,Product 1412,58.2317,0,NaN
16,57,8,Provider B,Product 3164,239.248,0,NaN
17,60,1,Provider A,Product 3160,174.154,0,NaN
18,60,2,Provider A,Product 3292,576.061,0,NaN
19,60,3,Provider A,Product 64,176.726,0,NaN
20,60,4,Provider A,Product 56,445.284,0,NaN
21,60,5,Provider B,Product 3532,194.45,0,NaN
22,60,6,Provider A,Product 552,76.0832,0,NaN
23,60,7,Provider A,Product 76,660.539,1,callcentre
24,60,8,Provider B,Product 1412,186.792,0,NaN
25,60,9,Provider A,Product 84,60.6906,0,NaN
26,60,10,Provider B,Product 3164,801.484,0,NaN
27,113,1,Provider A,Product 3160,779.049,0,NaN
28,113,2,Provider A,Product 56,60.3624,0,NaN
29,113,3,Provider A,Product 552,589.123,0,NaN
...,...,...,...,...,...,...,...
4657,4057382,5,Provider A,Product 84,705.928,0,NaN
4658,4057382,6,Provider B,Product 3164,136.547,0,NaN
4659,4057776,1,Provider A,Product 3160,106.784,0,NaN
4660,4057776,2,Provider A,Product 64,442.178,0,NaN
4661,4057776,3,Provider A,Product 56,206.934,0,NaN
4662,4057776,4,Provider A,Product 552,743.057,0,NaN
4663,4057776,5,Provider A,Product 76,231.184,0,NaN
4664,4057776,6,Provider A,Product 84,910.825,0,NaN
4665,4057776,7,Provider B,Product 1412,945.424,0,NaN
4666,4058416,1,Provider A,Product 3160,348.981,0,NaN
4667,4058416,2,Provider B,Product 1412,206.917,0,NaN
4668,4058416,3,Provider A,Product 64,534.29,0,NaN
4669,4058416,4,Provider A,Product 56,443.355,0,NaN
4670,4058416,5,Provider A,Product 552,626.822,0,NaN
4671,4058416,6,Provider A,Product 76,270.405,0,NaN
4672,4058416,7,Provider A,Product 84,677.782,0,NaN
4673,4060624,1,Provider A,Product 3160,729.696,0,NaN
4674,4060624,2,Provider A,Product 3292,724.373,0,NaN
4675,4060624,3,Provider A,Product 56,486.755,0,NaN
4676,4060624,4,Provider A,Product 552,232.443,0,NaN
4677,4060624,5,Provider A,Product 84,698.02,0,NaN
4678,4060624,6,Provider B,Product 1412,394.02,0,NaN
4679,4060624,7,Provider B,Product 3164,185.673,0,NaN
4680,4062897,1,Provider A,Product 64,158.756,0,NaN
4681,4062897,2,Provider B,Product 1412,MISSING,0,NaN
4682,4062897,3,Provider A,Product 56,287.82,0,NaN
4683,4062897,4,Provider A,Product 552,220.771,0,NaN
4684,4062897,5,Provider A,Product 76,759.641,0,NaN
4685,4062897,6,Provider A,Product 84,79.2413,0,NaN
4686,4062897,7,Provider B,Product 3164,693.729,0,NaN

In [4]:
df.describe()

        Customer_ID  result_rank    Sale_made
count  4.687000e+03  4687.000000  4687.000000
mean   1.344936e+06     4.559633     0.049925
std    7.926258e+05     2.551019     0.217814
min    3.700000e+01     1.000000     0.000000
25%    8.051900e+05     2.000000     0.000000
50%    1.637566e+06     4.000000     0.000000
75%    1.664808e+06     6.000000     0.000000
max    4.062897e+06    12.000000     1.000000

In [7]:
df.sort_values(by='Sale_made',ascending=False)

,Customer_ID,result_rank,provider_Nm,product_name,dummy_quote_value,Sale_made,Sale_source
4253,1681285,5,Provider A,Product 84,454.001,1,callcentre
511,288196,3,Provider A,Product 64,1297.08,1,online
3408,1662107,1,Provider A,Product 3292,84.8214,1,callcentre
4363,1683353,3,Provider A,Product 3160,689.825,1,callcentre
610,288321,1,Provider B,Product 1412,590.039,1,online
2288,1635814,1,Provider B,Product 3532,408.374,1,callcentre
3095,1656350,2,Provider A,Product 64,48.3169,1,callcentre
158,271,1,Provider A,Product 3160,134.563,1,online
2156,1631314,2,Provider A,Product 64,254.14,1,online
607,288320,8,Provider A,Product 76,294.399,1,online
2712,1646735,3,Provider A,Product 552,908.916,1,callcentre
4250,1681285,2,Provider A,Product 56,266.794,1,callcentre
902,288626,1,Provider B,Product 3164,552.593,1,online
257,330,7,Provider B,Product 1412,6974.01,1,callcentre
165,272,1,Provider A,Product 3160,451.541,1,online
3944,1673545,3,Provider A,Product 56,1.99764,1,online
600,288320,1,Provider B,Product 3532,14.0676,1,online
1498,1325198,1,Provider A,Product 56,650.073,1,online
2558,1642321,3,Provider A,Product 552,3.11825,1,online
352,288054,5,Provider A,Product 552,569.813,1,callcentre
4245,1681220,5,Provider A,Product 76,807.128,1,callcentre
4537,3729843,1,Provider B,Product 3532,576.373,1,online
350,288054,3,Provider A,Product 3160,926.687,1,callcentre
175,275,1,Provider A,Product 3160,142.475,1,online
176,275,2,Provider A,Product 3292,310.658,1,online
595,288308,2,Provider A,Product 56,4.84622,1,online
4372,1683379,6,Provider B,Product 3532,26.1079,1,callcentre
4187,1679695,5,Provider A,Product 552,600.428,1,callcentre
2912,1651696,3,Provider B,Product 1412,695.202,1,callcentre
1387,1321181,7,Provider A,Product 88,115.598,1,online
...,...,...,...,...,...,...,...
1620,1327927,10,Provider B,Product 3164,685.484,0,NaN
1619,1327927,9,Provider A,Product 84,665.838,0,NaN
1618,1327927,8,Provider A,Product 76,359.892,0,NaN
1617,1327927,7,Provider B,Product 1412,303.992,0,NaN
1615,1327927,5,Provider A,Product 56,65.3603,0,NaN
1642,1337193,1,Provider A,Product 3160,79.0693,0,NaN
1614,1327927,4,Provider A,Product 64,348.718,0,NaN
1613,1327927,3,Provider A,Product 3292,94.1589,0,NaN
1612,1327927,2,Provider B,Product 3532,471.044,0,NaN
1611,1327927,1,Provider A,Product 3160,479.191,0,NaN
1610,1327868,10,Provider B,Product 3164,593.871,0,NaN
1609,1327868,9,Provider B,Product 1412,808.555,0,NaN
1623,1336113,3,Provider A,Product 64,88.4959,0,NaN
1624,1336113,4,Provider A,Product 56,465.065,0,NaN
1625,1336113,5,Provider A,Product 552,465.741,0,NaN
1626,1336113,6,Provider A,Product 72,111.471,0,NaN
1627,1336113,7,Provider A,Product 76,245.719,0,NaN
1628,1336113,8,Provider A,Product 84,470.284,0,NaN
1629,1336113,9,Provider B,Product 1412,292.468,0,NaN
1630,1336113,10,Provider B,Product 3164,129.095,0,NaN
1632,1337186,1,Provider A,Product 64,472.992,0,NaN
1633,1337186,2,Provider A,Product 56,535.796,0,NaN
1634,1337186,3,Provider A,Product 552,19.8884,0,NaN
1635,1337186,4,Provider A,Product 76,677.601,0,NaN
1636,1337186,5,Provider A,Product 68,280.804,0,NaN
1637,1337186,6,Provider A,Product 60,80.6543,0,NaN
1638,1337186,7,Provider A,Product 88,536.751,0,NaN
1639,1337186,8,Provider A,Product 84,475.914,0,NaN
1640,1337186,9,Provider B,Product 1412,233.188,0,NaN
4686,4062897,7,Provider B,Product 3164,693.729,0,NaN

In [9]:
df.groupby('Sale_made').count()

,Customer_ID,result_rank,provider_Nm,product_name,dummy_quote_value,Sale_source
Sale_made,,,,,,
0,4453,4453,4453,4453,4453,0
1,234,234,234,234,234,234

In [12]:
df[df['Customer_ID' == 1]]

KeyError: False